* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(15px);
    margin-top: -105px;
    z-index: 1;
}

.cookie-container {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.cookie {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 355px;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

h3 {
    width: 100%;
    margin-top: -5px;
    text-align: center;
    font-size: 30px;
}

.skilamalar {
    width: 80%;
    text-align: center;
    margin: 20px 0;
}

.cookie input {
    position: relative;
    cursor: pointer;
}

.cookie label {
    position: relative;
    cursor: pointer;
}

.agree {
    height: 45px;
    width: 140px;
    min-height: 45px;
    background-color: #0061ff;
    color: white;
    font-weight: bold;
    font-size: 17.5px;
    border-radius: 8px;
    border: 2px solid #0061ff;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.2s;
}

.agree:hover {
    background-color: #3c87ff;
}

.cookie-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background-color: rgb(0, 18, 78);
    height: 90px;
    width: 100%;
    align-items: center;
    transition: 0.3s;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.password-container {
    position: fixed;
    display: none;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.password-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.password-box h4 {
    font-size: 22px;
    margin-top: -10px;
}

.password-exit {
    position: absolute;
    margin-bottom: 140px;
    margin-right: -86%;
    margin-left: auto;
}

.password {
    border: 1px solid rgba(139, 139, 139, 0.5);
    border-radius: 10px;
    height: 40px;
    width: 80%;
    margin-top: 10px;
    transition: 0.25s;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.password:focus {
    border: 1px solid rgb(0, 0, 0);
}

.password-confirm {
    border: 1px solid rgba(139, 139, 139, 0.5);
    border-radius: 10px;
    height: 40px;
    width: 80%;
    margin-top: 15px;
    transition: 0.25s;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #0061ff;
    border: 2px solid #0061ff;
    color: white;
    padding-top: 6px;
    padding-bottom: 4.5px;
    font-size: 18px;
}

.password-confirm:hover {
    background-color: #3c87ff;
}

.spila-podcast {
    height: 45px;
    width: 140px;
    min-height: 45px;
    background-color: #0061ff;
    color: white;
    font-weight: bold;
    font-size: 17.5px;
    border-radius: 8px;
    border: 2px solid #0061ff;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

.spila-podcast:hover {
    background-color: #3c87ff;
}

.podcast-container {
    position: fixed;
    display: none;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

.podcast-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 185px;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    margin-top: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.podcast-box h4 {
    font-size: 25px;
    margin-top: -5px;
}

.podcast-box audio {
    margin-top: 25px;
    width: 80%;
}

.podcast-exit {
    position: absolute;
    margin-bottom: 130px;
    margin-right: -86%;
    margin-left: auto;
}

.start-container {
    display: flex;
    justify-content: left;
    margin-left: calc(10%);
    margin-right: calc(10%);
    gap: 35px;
}

.start-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(194, 194, 194);
    margin-top: 40px;
    transition: 0.25s;
    cursor: pointer;
    overflow: hidden;
    min-width: 300px;
    max-width: 400px;
}

.start-card h2 {
    margin-top: 7px;
}

.start-card p {
    color: rgb(143, 143, 143);
    width: 85%;
    font-size: 14.5px;
    margin-top: 10px;
}

.start-card:hover {
    box-shadow: 0px 3px 20px rgb(212, 212, 212);
    margin-top: 32.5px;
}

.start-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.start-card div {
    margin-top: 30px;
    display: flex;
    width: 90%;
}

.info-point {
    width: 20px;
    background-color: rgba(0, 0, 0, alpha);
}

.info {
    color: rgb(170, 170, 170);
    margin-left: 5px;
    margin-top: 1.5px;
}

.category-title {
    margin-left: calc(10%);
    margin-right: calc(10%);
    width: auto;
}

#title1 {
    margin-top: 125px;
}

#title2 {
    margin-top: 40px;
}

.logo {
    height: 60px;
    margin-left: calc(10%);
    transition: 0.3s;
}

.go-back-container {
    margin-left: auto;
    margin-right: calc(10%);
}

.go-back {
    border: 1px solid rgba(139, 139, 139, 0.5);
    background-color: transparent;
    height: 35px;
    width: 80px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.25s;
}

.go-back:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.FG-container {
    display: flex;
    justify-content: center;
    margin-left: calc(10%);
    margin-right: calc(10%);
    gap: 35px;
}

.FG-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1010px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(194, 194, 194);
    margin-top: 40px;
    transition: 0.25s;
    overflow: hidden;
}

.FG-card h2 {
    margin-top: 15px;
    font-size: 30px;
}

.FG-card p {
    color: rgb(143, 143, 143);
    width: 75%;
    font-size: 14.5px;
    margin-top: 10px;
}

.FG-card-image {
    width: 100%;
    height: 850px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.JFK-container {
    display: flex;
    justify-content: center;
    margin-left: calc(10%);
    margin-right: calc(10%);
    gap: 35px;
}

.JFK-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(194, 194, 194);
    margin-top: 40px;
    padding-bottom: 30px;
    transition: 0.25s;
    overflow: hidden;
    height: auto;
}

.JFK-card h2 {
    margin-top: 15px;
    font-size: 30px;
}

.JFK-card p {
    color: rgb(143, 143, 143);
    width: 75%;
    font-size: 14.5px;
    margin-top: 10px;
}

.JFK-card-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.TML-container {
    display: flex;
    justify-content: center;
    margin-left: calc(10%);
    margin-right: calc(10%);
    gap: 35px;
}

.TML-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(194, 194, 194);
    margin-top: 40px;
    padding-bottom: 30px;
    transition: 0.25s;
    overflow: hidden;
    height: auto;
}

.TML-card h2 {
    margin-top: 15px;
    font-size: 30px;
}

.TML-card p {
    color: rgb(143, 143, 143);
    width: 75%;
    font-size: 14.5px;
    margin-top: 10px;
}

.TML-card-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.TML-card audio {
    margin-top: 20px;
    width: 50%;
}

footer {
    background-color: rgb(0, 18, 78);
    color: #fff;
    text-align: left;
    padding: calc(10%);
    padding-right: calc(10%);
    padding-top: 40px;
    margin-top: 50px;
    position: relative;
}

footer h2 {
    margin-top: 30px;
}

footer p {
    width: 600px;
    margin-top: 6px;
    color: rgb(187, 187, 187);
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.review input {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0.5px;
    height: 50px;
    width: 600px;
    background-color: transparent;
    border-radius: 10px;
    border: solid 0.5px rgba(128, 128, 128, 0.6);
    color: white;
    outline: none;
    transition: 0.25s;
}

.review input:focus {
    border: 0.5px solid rgb(255, 255, 255);
}

.submit {
    cursor: pointer;
}

.submit:hover {
    border: 0.5px solid rgb(255, 255, 255);
}

.info-container {
    display: flex;
    justify-self: center;
    margin-top: 40px;
    gap: 50px;
    justify-content: center;
    margin-left: calc(10%);
    margin-right: calc(10%);
}

.info-card {
    height: 300px;
    width: 250px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    background-color: white;
}

.info-card-header {
    position: absolute;
    align-items: center;
    display: flex;
    height: 35px;
    margin-top: 25px;
}

.info-card-header img {
    height: 40px;
    vertical-align: middle;
}

.info-card-header h1 {
    font-size: 30px;
}

.info-card-container {
    margin-top: 90px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

.info-card-container h3 {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
}

.info-card-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background: conic-gradient(
        rgb(217, 35, 189) 0%,
        rgb(165, 35, 217) var(--progress, 0%),
        rgba(207, 207, 207, 0.3) var(--progress, 0%)
    );
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
}

#html-circle {
    background: conic-gradient(
        rgb(217, 35, 189) 0%,
        rgb(165, 35, 217) var(--progress, 25%),
        rgba(207, 207, 207, 0.3) var(--progress, 25%)
    );
}

#css-circle {
    background: conic-gradient(
        rgb(217, 35, 189) 0%,
        rgb(165, 35, 217) var(--progress, 68%),
        rgba(207, 207, 207, 0.3) var(--progress, 68%)
    );
}

#js-circle {
    background: conic-gradient(
        rgb(217, 35, 189) 0%,
        rgb(165, 35, 217) var(--progress, 7%),
        rgba(207, 207, 207, 0.3) var(--progress, 7%)
    );
}

#total-circle {
    background: linear-gradient(109.6deg, rgb(217, 35, 189) 11.2%, rgb(165, 35, 217) 90%);
}

.info-card-inner-circle {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card-inner-circle h4 {
    font-size: 23px;
    margin-bottom: 5px;
}

#html-icon {
    margin-right: 2px;
}

#css-icon {
    height: 46px;
}

#js-icon {
    margin-right: 5px;
}

#code-terminal-icon {
    margin-right: 4px;
}

.info-board-container {
    display: flex;
    justify-content: center;
    margin-left: calc(10%);
    margin-right: calc(10%);
    gap: 35px;
}

.info-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(194, 194, 194);
    margin-top: 40px;
    padding-bottom: 30px;
    transition: 0.25s;
    overflow: hidden;
}

.info-board h4 {
    font-size: 25px;
    margin-top: 20px;
}

.info-board p {
    font-size: 16px;
    margin-top: 10px;
    width: 80%;
}

@media (max-width: 1430px) {
    .info-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
}

@media (max-width: 655px) {
    .info-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 1366px) {
    .FG-card {
        height: 1040px;
    }
}

@media (max-width: 1235px) {
    .JFK-card {
        height: 840px;
    }
}

@media (max-width: 1100px) {
    .FG-card {
        height: 750px;
    }

    .FG-card-image {
        height: 500px;
    }

    .JFK-card {
        height: 700px;
    }

    .JFK-card-image {
        height: 500px;
    }
}

@media (max-width: 979px) {
    .JFK-card {
        height: 715px;
    }
}

@media (max-width: 910px) {
    .start-card div {
        margin-top: 11px;
    }
}

@media (max-width: 842px) {
    .JFK-card {
        height: 730px;
    }
}

@media (max-width: 800px) {
    .start-container {
        justify-content: left;
        margin-left: 0;
        margin-right: 0;
        gap: 10px;
        padding-right: 20px; 
        overflow-x: scroll;
    }

    .start-container::-webkit-scrollbar {
        display: none;
    }

    .start-card {
        width: auto;
        margin-left: 20px;
    
        min-width: 250px;
        max-width: 350px;
        margin-bottom: 40px;
    }

    .start-card h2 {
        font-size: 21px;
    }

    .category-title {
        text-align: center;
        transition: 0.3s;
        margin-left: 20px;
        margin-right: 20px;
    }

    .start-card:hover {
        box-shadow: 0px 3px 20px rgb(212, 212, 212);
        margin-top: 40px;
    }

    .start-card div {
        margin-top: 15px;
    }

    .cookie {
        position: fixed;
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    password-container {
        margin-top: 100px;
    }

    .password-box {
        position: fixed;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .password-exit {
        position: absolute;
        margin-bottom: 150px;
        margin-right: -86%;
    }

    .podcast-box {
        position: fixed;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .podcast-exit {
        position: absolute;
        margin-bottom: 150px;
        margin-right: -86%;
    }

    .podcast-box h4 {
        font-size: 21px;
    }

    .podcast-box audio {
        width: 90%;
    }

    .logo {
        margin-left: 20px;
    }

    .go-back {
        color: white;
    }

    .go-back-container {
        margin-right: 20px;
    }

    #title1 {
        margin-top: 115px;
    }

    .skilamalar {
        width: 90%;
    }

    #title2 {
        margin-top: 0px;
    }

    .FG-container {
        justify-content: center;
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
        overflow-x: scroll;
    }
    
    .FG-container::-webkit-scrollbar {
        display: none;
    }
    
    .FG-card {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
        height: 600px;
    }
    
    .FG-card h2 {
        font-size: 25px;
    }
    
    .FG-card p {
        margin-top: 15px;
    }

    .FG-card-image {
        height: 350px;
    }

    .FG-card p {
        width: 85%;
    }

    .JFK-container {
        justify-content: center;
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
        overflow-x: scroll;
    }
    
    .JFK-container::-webkit-scrollbar {
        display: none;
    }
    
    .JFK-card {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        height: 550px;
    }
    
    .JFK-card h2 {
        font-size: 25px;
    }
    
    .JFK-card p {
        margin-top: 15px;
    }
    
    .JFK-card-image {
        height: 350px;
    }
    
    .JFK-card p {
        width: 85%;
    }    

    .TML-container {
        justify-content: center;
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
        overflow-x: scroll;
    }
    
    .TML-container::-webkit-scrollbar {
        display: none;
    }
    
    .TML-card {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .TML-card h2 {
        font-size: 25px;
    }
    
    .TML-card p {
        margin-top: 15px;
    }
    
    .TML-card-image {
        height: 225px;
    }
    
    .TML-card p {
        width: 85%;
    }    

    .TML-card audio {
        width: 85%;
    }

    footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    footer h1 {
        width: 100%;
        text-align: center;
    }

    footer h2 {
        width: 100%;
        text-align: center;
    }

    footer p {
        width: 100%;
        text-align: center;
    }

    .review {
        width: 100%;
    }

    .review input {
        width: 100%;
    }

    .review-container {
        flex-direction: column;
        align-items: center;
    }

    .hr {
        display: flex;
        margin-right: 0;
        width: 100%;
        height: 1px;
        margin-top: 40px;
        background-color: rgba(128, 128, 128, 0.35)
    }

    .author {
        width: 105%;
        height: 20px;
        background-color: black;
    }

    .info-board p {
        font-size: 14px;
        width: 85%;
    }

    .info-board {
        width: 100%;
    }
}

@media (max-width: 731px) {
    .JFK-card {
        height: 560px;
    }
}

@media (max-width: 634px) {
    .JFK-card {
        height: 580px;
    }
}

@media (max-width: 600px) {
    .FG-card {
        height: 525px;
    }

    .FG-card-image {
        height: 200px;
    }

    .JFK-card {
        height: 630px;
    }

    .JFK-card-image {
        height: 400px;
    }
}
